body { margin: 0;}
.fluid-container {padding: 0;}
.fluid-container .image { border-bottom: 2px solid white; }
.fixed-row-bottom { position: absolute; bottom: 15px;}
.logo .logo-box {
    position: absolute;
    top: 50px;
    left: 15%;
    background-color: #4d47e9;
    border-radius: 50%;
    width: 65%;
    padding: 45px;
    -webkit-box-shadow: 0 0 10px #fff;
        box-shadow: 0 0 10px #fff;
}
.logo .logo-box .image-box img { width: 65%;}

.started, .character { margin: 15px;}
.started .text-box {
    margin-top: 55px;
}
.started .image-box {margin-right: 15px;}
.started .image-box img {margin-right: 15px;}
.started .btn-box button i {color: white;}