.movie .image-box {
    width: 100%;
    margin-top: 25px;
}
.movie .image-box h1 {color: #0d0d62;}
.description { margin-top: 25px;}

/* Responsive */
@media screen and (min-width: 992px) { 
    .description-box .btn-box { text-align: end;}
}