@import url('https://fonts.googleapis.com/css?family=Poppins');
* {
    font-family: 'Poppins';
    color: white;
}
body {
    text-align: center;
}
h1 {
    font-size: 25px;
    color: white;
}
button {
    margin: 10px;
    text-align: center;
    color: white;
    border-radius: 35px;
    background-color: #4d47e9;
    padding: 8px 25px;
    box-shadow: none;
    border: none;
}  